

.main {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    border-bottom: 2px solid #F3F3F3;
    background-color: #ffffff;
    padding: 0 20px;
}